/* Sass file that assigns text color to body, h2, and p tags */

$text-color: #3D3D3D;
$text-color-2: #6D6D6D;

body {
    color: $text-color;
    background-color: $text-color-2;
}

p {
    color: $text-color;
}

h2 {
    background-color: $text-color-2;
}
